* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-kerning: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: large;
  position: relative;
  left: -10px;
}

/*specific styling*/

header section {
  font-size: 1.4rem;
}

.header {
  padding: 60px 20px;
  text-align: center;
  background-color: #e3e3e3;
}

h1 {
  font-size: x-large;
}

main {
  max-width: 100ch;
  margin: 0 auto;
  padding: 50px;
}

main h2 {
  padding: 20px;
  font-size: 1rem;
}

article + article {
  border-top: 2px solid gray;
}

*::selection {
  background-color: rgb(29, 29, 29);
  color: white;
}

.header h1 + p::after {
  content: "👋";
}

.header aside {
  position: fixed;
  top: 0px;
  right: 20px;
  background-color: gray;
  padding: 10px 50px 10px 50px;
}

.header aside p {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .header aside {
    display: none;
  }
}

@media print {
  .header aside {
    display: none;
  }

  .header nav {
    display: none;
  }
}

.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .experience-header {
    flex-direction: row;
    align-items: center;
  }
}

/* navigation */

.header nav {
  margin-block: 30px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header nav {
    flex-direction: row;
  }
}

.header nav a {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  border: 3px solid #e3e3e3;
  text-decoration: none;
  width: 200px;
}

.header nav a:link {
  color: #e3e3e3;
}

a:visited {
  color: #e3e3e3;
}

.header nav a:hover {
  color: aquamarine;
  border: 3px solid gray;
}

.header nav a:active {
  color: black;
  border-color: #e3e3e3;
}
