* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --background-color: white;
  --text-color: black;
  --link-color: white;
  --link-hover: aquamarine;
  --background-header: #e3e3e3;
  --background-footer: gray;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-kerning: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: large;
  position: relative;
  left: -10px;
}

/*specific styling*/

header section {
  font-size: 1.4rem;
}

.header {
  padding: 60px 20px;
  text-align: center;
  background: rgb(227, 227, 227);
  background: linear-gradient(
    180deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(227, 227, 227, 0.8323704481792717) 93%
  );
  /* box-shadow: 2px 12px 136px 35px rgba(140, 140, 140, 0.3); */
}

h1 {
  font-size: x-large;
}

main {
  max-width: 100ch;
  margin: 0 auto;
  padding: 50px;
}

main h3 {
  padding: 20px;
  font-size: 1rem;
}

article + article {
  border-top: 2px solid var(--background-footer);
}

*::selection {
  background-color: rgb(29, 29, 29);
  color: var(--link-color);
}

.header h1 + p::after {
  content: "👋";
}

.hire-me {
  position: fixed;
  display: block;
  top: 0px;
  right: 20px;
  background-color: var(--background-footer);
  padding: 10px 50px 10px 50px;
  transition: transform 0.2s;
}

.header aside p a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--background-color);
}

.header:hover .hire-me {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .header aside {
    display: none;
  }
}

@media print {
  .header aside {
    display: none;
  }

  .header nav {
    display: none;
  }
}

.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .experience-header {
    flex-direction: row;
    align-items: center;
  }
}

/* Footer */

.footer {
  background: linear-gradient(
    180deg,
    rgba(128, 128, 128, 0.7763480392156863) 0%,
    rgba(128, 128, 128, 1) 40%
  );
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 3em 3em 3em;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-end;
  }
}

footer h3 {
  left: 0px;
}

footer h3 {
  font-size: 0.7rem;
}

footer p,
footer a {
  font-size: 0.6rem;
}

footer a:link {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

footer a:hover {
  color: var(--link-hover);
}

footer a:visited {
  color: var(--text-color);
}

footer h2 {
  padding-block: 1em;
}

/* navigation */

.header nav {
  margin-block: 30px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header nav {
    flex-direction: row;
  }
}

.header nav a {
  background-clip: padding-box;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: var(--background-footer);
  border-radius: 10px;
  border: 3px solid transparent;
  text-decoration: none;
  width: 200px;
  transition: background-color 0.5s ease-out;
}

.header nav a:link,
a:visited {
  color: var(--background-header);
}

.header nav a:hover {
  color: var(--link-hover);
  border-color: rgb(99, 99, 99);
  background-color: rgb(99, 99, 99);
}

.header nav a:active {
  color: var(--text-color);
  border-color: var(--background-footer);
}
